
.login{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.btn{
    width: 5rem;
    border-radius: 5px;
    border: none;
    color: teal;
    background-color: rgb(255, 255, 0);
}

.btn:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 0, 0.496);
    border: 1px solid black;
}

